* { 
  box-sizing: border-box;
}

body {
  font-family: helvetica;
  padding-left: 5px;
}
h1 {
  color: #efefef;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  border: 1px solid #efefef;
  margin: 4px;
  padding: 6px;
  padding-top: 9px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 0 #ccc;
  height: 35px;
}
li.done {
  text-decoration: line-through;
  color: #999;
}

.list {
  background-color: #e2e4e6;
  color: #666;
  padding: 5px;
  width: 275px;
  font-size: 0.8em;
  float: left;
  margin-right: 10px;
  border-radius: 4px;
}

div.sortable-lists-placeholder{
  width: 275px;
  background-color: #666;
  float: left;
  border-radius: 4px;
  margin-right: 10px;
}

.list-header {
  font-weight: bold;
  padding: 5px;
}
button.toggle {
  float: right;
}
button {
  color: white;
  border: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px;
  text-align: center;
  width: 45px;
  /*
  color: #efefef;
  border: 1px solid #efefef;
  */
  cursor: pointer;
  margin-top: -17px;
}
button.undone {
  background-color: rgba(0, 121, 191, 0.5);
}
button.done {
  background-color: rgba(120, 120, 120, 0.5);
}
input.new-item {
  background-color: transparent;
  border: none;
  margin-left: 7px;
  margin-right: 5px;
  outline: none;
  font-size: 1em;
  width: calc(100% - 13px);
  box-sizing: border-box;
  height: 25px;
  color: #666;
}
input.new-item:focus {
  outline: none;
  border-radius: 3px;
  padding-left: 5px;
  color: #666;
  background-color: white;
}

a.sort-link img {
  width: 100%;
  opacity: 0.3;
}

a.sort-link {
  width: 16px;
  height: 16px;
  display: inline-block;
}

a.sort-link.current img {
  opacity: 1;
}

.list-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.1em;
}

button.save {
  vertical-align: top;
  background-color: rgba(0, 121, 191, 0.5);
}

button.save-button {
  vertical-align: top;
  background-color: rgba(0, 121, 191, 0.5);
  margin-top: 2px;
}

button.hidden {
  display: none;
}

form.update-all,
form.add-item {
  margin-bottom: 0;
}

/* 
  above is starter code
*/

input.list-name-change{
  width: 230px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
  line-height: 12px;
  font-size: 1em;
  font-weight: bold;
  background-color: transparent;
  color: #666;

}

input.list-name-input{
  width: 230px;
  margin-bottom: 10px;
  margin-top: 2px;
  margin-left: 2px;
  border: none;
  line-height: 1em;
  background-color: transparent;
  color: #666;
  font-size: 1em;
  font-weight: bold;
}

input:focus {
    outline: none;
}

.add-list-inputs{
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

span.add-a-list{
  padding: 10px;
  display: inline-block;
  width: 240px;
  color: #666;
  font-size: 1.1em;
}

div.new-list{
  cursor: pointer;
}

form.list-form{
  margin-bottom: 0px;
  background-color: transparent;
  cursor: pointer;
}

span.cancel-input{
  cursor: pointer;
  font-size: large;
  padding-left: 10px;
}

.hidden{
  display: none;
}

span.hidden{
  display: none;
}

div.width{
 width: 10000px;
}

span.save{
  font-style: italic;
}

.trash{
  width: 13px;
  margin-left: 85px;
  margin-top: -7px;
  box-sizing: border-box;
  background: white;
}

.trash-list{
  background-color: transparent;
  width: 15px;
  box-sizing: border-box;
  float: center;
  cursor: pointer;
}

.rotate{
  transform: rotate(35deg);
  transition-duration: 1s;
}

.rotate360{
  transform: rotate(360deg);
  transition-duration: 3s;
}